@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comme&display=swap');

@font-face {
    font-family: valorant;
    src: url('./Valorant\ Font.ttf');
}

@font-face {
    font-family: ProductSans;
    src: url('./Product\ Sans\ Bold.ttf');
}

.homepage{
    position: relative;
    width: 100%;
}

.title{
    position: relative;
    padding-top: 15vh;
    width: 100%;
    min-height: 40vh;
}

.title-1{
    position: relative;
    left: -1920px;
    margin-left: 50px;
    width: fit-content;
    font-family: 'valorant';
    font-size: 10vh;
    line-height: 0.75em;
    background-color: red;
    color: white;
    padding-top: 1%;
    padding-left: 20px;
    padding-right: 20px;
}

.title-2{
    position: relative;
    left: -1920px;
    margin-left: 50px;
    width: fit-content;
    font-size: 10vh;
    line-height: 0.7em;
    font-family: 'valorant';
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    padding-top: 1%;
    padding-left: 20px;
    padding-right: 20px;
}

#typed-text{
    position: relative;
    width: fit-content;
    color: white;
    font-size: 5vh;
    font-family: "Saira Condensed";
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5vh;
}

.apply-container{
    position: relative;
    min-height: 35vh;
}

.apply-button{
    position: relative;
    width: fit-content;
    height: fit-content;
    font-family: "ProductSans";
    margin-left: 20%;
    margin-top: 50px;
    font-size: 40px;
    color: white;
    background-color: black;
    padding: 20px;
    opacity: 0;
    transition: box-shadow 0.4s;
}

.apply-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px white;
}

.venue{
    position: relative;
    width: 70vw;
    height: fit-content;
    margin-left: 10vw;
    box-shadow: 0px 0px 5px 2px white;
    background-color: rgb(255, 42, 42);
    cursor: default;
}

.venue-title{
    position: relative;
    top: -35px;
    left: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 35px;
    font-weight: 700;
    background-color: white;
    color: rgb(255, 42, 42);
}

.venue-details{
    position: relative;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-right: 10%;
    font-family: "Comme";
    color: white;
}

.venue-details-hidden{
    position: relative;
    opacity: 0;
    line-height: 2em;
    font-size: 3vh;
}

.details{
    position: relative;
    width: 70vw;
    height: fit-content;
    margin-left: 10vw;
    margin-top: 10vh;
    box-shadow: 0px 0px 5px 2px white;
    background-color: rgb(255, 42, 42);
    cursor: default;
}

.details-title{
    position: relative;
    top: -35px;
    left: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 35px;
    font-weight: 700;
    background-color: white;
    color: rgb(255, 42, 42);
}

.details-details{
    position: relative;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-right: 10%;
    font-family: "Comme";
    color: white;
}

.details-details-hidden{
    position: relative;
    opacity: 0;
    line-height: 2em;
    font-size: 3vh;
}

.rules{
    position: relative;
    width: 70vw;
    height: fit-content;
    margin-left: 10vw;
    margin-top: 10vh;
    box-shadow: 0px 0px 5px 2px white;
    background-color: rgb(255, 42, 42);
    cursor: default;
}

.rules-title{
    position: relative;
    top: -35px;
    left: 100px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    width: fit-content;
    font-size: 35px;
    font-weight: 700;
    background-color: white;
    color: rgb(255, 42, 42);
}

.rules-rules{
    position: relative;
    padding-left: 10%;
    padding-bottom: 50px;
    padding-right: 10%;
    font-family: "Comme";
    color: white;
}

.rules-rules-hidden{
    position: relative;
    opacity: 0;
    line-height: 2em;
    font-size: 3vh;
}

.sponsers-container{
    position: relative;
    margin-top: 10vh;
    width: 100%;
    min-height: 20vh;
    height: fit-content;
    background-color: black;
    text-align: center;
}

.sponsers-title{
    position: relative;
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 3vh;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
